[defaults]
inventory        = inventory.ini
roles_path       = roles
stdout_callback  = yaml
interpreter_python = auto_silent
host_key_checking = True
retry_files_enabled = False

[ssh_connection]
pipelining = True
